extends layout

block content
  h1= title
  p Welcome to #{title}
  - let items = results
  div(class="container-fluid")
    div(class="row")
      each pizzas, index in items
        div(class="col-sm-2" onclick=`buy(${index+1})`) #{pizza.pizza_type}<br>
        div(class="col-sm-2" onclick=`buy(${index+1})`) #{pizza.pizza_color}<br>
        div(class="col-sm-2" onclick=`buy(${index+1})`) #{pizza.pizza_cost}<br>
  script.
    function buy(n){
      alert(`You purchased item ${n+1}`);
    }